@import "bootstrap";
@import "variables";


@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@mixin flex-between($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin reset() {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    @include reset();
    background-color: map-get($colors, blue-ish);
    color: #FFF;
    height: 100vh;
}

.alert, .notice {
    border: 0;
    padding: 0;
    margin: 0;
}

.listing-content {
    border: 1px solid white;
    padding: 1em;
    img {
        width: 256px;
        height: 256px;
    }
}

.form-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.listing-holder {
    color: white;
}

.order {
    border: 1px solid white;
    padding: 1em;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.buttons-nav {
    @include flex-between(row);
    width: 100%;
}

.container {
    scroll-behavior: smooth;

    h1 {
        margin-top: auto;
        margin-bottom: auto;
    }

    .row-min-small {
        min-height: 128px;
        background-color: map-get($dark, c);
    }

    .row-min-normal {
        min-height: 256px;
        background-color: map-get($dark, c);
    }

    .row {
        overflow-x: auto;
        white-space: nowrap;
        color: white;
        border-radius: 10px;
        .card-active {
            padding: 1em;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            img {
                align-self: center;
                max-width: 256px;
            }
        }

        .buttons {
            @include flex-between(row);
        }

        .card-sold {
            height: 128px;
            max-width: 128px;
            padding: 1em;
            img {
                width: 50px;
                height: 50px;
                border-radius: 10px;
            }
        }

        .card-ending {
            max-width: 256px;
            padding: 1em;
            img {
                width: 164px;
                height: 164px;
                border-radius: 10px;
            }
        }

        .card-sold, .card-ending, .card-active {
            overflow: hidden;
            text-overflow: ellipsis;
            
            &:nth-child(even) {
                background-color: map-get($dark, a);
            }

            &:nth-child(odd) {
                background-color: map-get($dark, b);
            }
        }
    }
}

// admin dash

.users-table {
    border: 1px solid red;
    th, td {
        padding: 1em;
    }
}

// user dash

.user-dashboard {
    height: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .user {
        @include flex-center(column);
        padding: 1em;
        background-color: map-get($dark, a);
    }

    .listings, .favourites {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 1em;

        .item {
            width: 100%;
            padding: 1em;
            background-color: map-get($dark, a);
            border-radius: 10px;

            .buttons {
                @include flex-between(row)
            }

            &:nth-child(even) {
                background-color: map-get($dark, c);
            }
        }
    }
}