@import "bootstrap";
@import "variables";


@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@mixin flex-between($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin reset() {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    @include reset();
    background-color: map-get($colors, black-ish);
    color: #FFF;
}

.alert, .notice {
    border: 0;
    padding: 0;
    margin: 0;
}

.form-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.listing-holder {
    color: white;
}

.container-fluid {
    scroll-behavior: smooth;

    .row-min-small {
        min-height: 128px;
    }

    .row-min-normal {
        min-height: 256px;
    }

    .row {
        overflow-x: auto;
        white-space: nowrap;
        color: white;

        .card-active {
            padding: 1em;
            min-height: 400px;
            img {
                max-width: 256px;
            }

            .buttons {
                @include flex-between(row);
            }
        }

        .card-sold {
            height: 128px;
            max-width: 128px;
        }

        .card-ending {
            max-width: 256px;
        }

        .card-ending, .card-active {
            height: 256px;
        }

        .card-sold, .card-ending, .card-active {
            overflow: hidden;
            text-overflow:ellipsis;
            
            &:nth-child(even) {
                background-color: map-get($dark, a);
            }

            &:nth-child(odd) {
                background-color: map-get($dark, b);
            }
        }
    }
}

// admin dash

.users-table {
    border: 1px solid red;
    th, td {
        padding: 1em;
    }
}