<div class="container-fluid sold-scroller">
    <div class="row text-center flex-nowrap">
        <div class="col-sm-4 card">1</div>
        <div class="col-sm-4 card">2</div>
        <div class="col-sm-4 card">3</div>
        <div class="col-sm-4 card">4</div>
        <div class="col-sm-4 card">5</div>
        <div class="col-sm-4 card">6</div>
        <div class="col-sm-4 card">7</div>
        <div class="col-sm-4 card">8</div>
        <div class="col-sm-4 card">9</div>
    </div>
</div>