<div class="grid">
    <div class="header"></div>
    <div class="past-auctions-bar"></div>
    <div class="quick-sell-bar"></div>
    <div class="categories"></div>
    <div class="auctions"></div>
</div>